@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Nunito|Old+Standard+TT|Lato');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
.welcome-container {
    background-attachment: fixed;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    min-height: 100%;
    position: relative;
}
.welcome {
    background: rgb(0, 0, 0, .4);
    padding: 70px 100px;
}
.welcome h1 {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: Noto Serif;
    font-size: 4em;
    justify-content: center;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 10px 30px 30px 30px;
    text-align: center;
    text-shadow:
        5px 5px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    text-transform: uppercase;
}
.banner {
    padding: 20px 0;
    text-align: center;
}
.banner img {
    filter: drop-shadow(10px 10px 10px #000);
    margin: 0 auto;
}
.banner .credit {
    border-bottom: 2px solid;
    color: #fff;
    float: right;
    font-family: Old Standard TT;
    opacity: 0;
    transition: .1s all linear;
}
.banner:hover .credit {
    opacity: 1;
}
.topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 20px 0;
    width: 100%;
}
.topnav .item {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-family: Nunito;
    font-size: 2em;
    letter-spacing: 2px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 25%;
}
.topnav  .item.nolink {
    border: 2px dashed;
}
.topnav .item:not(.nolink):hover {
    background-color: rgba(255, 255, 255, .3);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: bottom left;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px #fff;
}
.topnav .item.one:hover {
    background-image: url(./images/redpandaAdmire.png)
}
.topnav .item.two:hover {
    background-image: url(./images/redpandaHug.png);
    background-size: 65px;
}
.topnav .item.three:hover {
    background-image: url(./images/redpandaDerp.png);
    background-size: 60px;
}
.topnav .item.four:hover {
    background-image: url(./images/redpandaPray.png);
    background-position: bottom right;
}
.anchor {
    position: absolute;
    right: 55px;
}
.anchor a {
    border: 2px solid;
    border-radius: 100%;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    padding: 4px 12px;
    text-decoration: none;
}
.today-container {
    align-items: center;
    background: repeating-linear-gradient(-45deg, #b73e1a, #b73e1a 10px, #c74923 10px, #c74923 20px);
    display: flex;
    justify-content: center;
    padding: 40px;
}
.today-title {
    color: #000;
    font-family: Old Standard TT;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.today-background {
    background-attachment: fixed;
    background-image: url(./images/today.jpg);
    background-size: cover;
    position: relative;
}
.today {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-family: Old Standard TT;
    font-size: 23px;
    line-height: 1.5;
    padding: 70px 140px;
    text-align: justify;
}
.today img {
    width: 23px;
}
.messages-container {
    align-items: center;
    background: repeating-linear-gradient(-45deg, #b73e1a, #b73e1a 10px, #c74923 10px, #c74923 20px);
    display: flex;
    justify-content: center;
    padding: 40px;
}
.messages-title {
    color: #000;
    font-family: Old Standard TT;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.messages-background {
    background-attachment: fixed;
    background-image: url(./images/messages.jpg);
    background-size: cover;
    position: relative;
}
.question {
    background-color: #c16734;
    font-family: Old Standard TT;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px;
}
.question:before {
    content: '';
}
.messages {
    background-color: rgba(0, 0, 0, .3);
    padding: 70px;
}
.m-container {
    display: flex;
}
.mouterleft, .mouterright {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: top;
    width: 50%;
}
.mitem {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    display: inline-block;
    font-family: Lato;
    margin: 0 0 10px 0;
    padding: 30px 20px 20px 20px;
}
.mouterleft .mitem {
    margin-right: 10px;
}
.mitem .avatar {
    background-size: 64px;
    border-radius: 100%;
    float: left;
    height: 64px;
    position: relative;
    top: -5px;
    width: 64px;
}
.mitem .name {
    display: block;
    font-family: Old Standard TT;
    font-size: 2.5em;
    font-weight: bold;
    line-height: .8em;
    margin-left: 85px;
}
.mitem .name .n {
    color: #bbb;
    font-size: .8em;
}
.mitem .name .aka {
    display: block;
    font-family: times new roman;
    font-size: .7em;
    font-style: italic;
    font-weight: normal;
}
.mitem .message {
    display: block;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
    padding: 0 10px;
}
.nostalgia-container {
    align-items: center;
    background: repeating-linear-gradient(-45deg, #b73e1a, #b73e1a 10px, #c74923 10px, #c74923 20px);
    display: flex;
    justify-content: center;
    padding: 40px;
}
.nostalgia-title {
    color: #000;
    font-family: Old Standard TT;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
}
.nostalgia-background {
    background-attachment: fixed;
    background-image: url(./images/nostalgia.jpg);
    background-size: cover;
    position: relative;
}
.nostalgia {
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    padding: 70px;
}
.n-container {
    display: flex;
    margin: 0 auto;
    width: 1080px;
}
.n-left, .n-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: top;
    width: 50%;
}
.image {
    background: #fff;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px 10px 0 10px;
    width: 490px;
}
.image img {
    max-height: 100%;
    max-width: 100%;
}
.image .caption {
    background-color: #fff;
    color: #000;
    display: block;
    font-family: monospace;
    padding: 15px;
}
